widths = 200px

.goBlack
    padding 10px

.Github
    color red
    
.prolistBox
    float left
    height  240px
    width   widths
    
.thumbBox
    height  widths
    width   widths
    overflow  hidden
    img
        max-width widths
        max-height widths